<h1>About Me</h1>
<title> About Me</title> 

<body>


  <h2>My name is Hilary and I am an artist</h2>
  <p>You can contact me via email to 
   <a href="http://www.weliketomakeanddo.com">www.weliketomakeanddo.com</a> 
  </p>
 
</div>

